<html>
<head>
    <script type="text/javascript">var NREUMQ = NREUMQ || [];
    NREUMQ.push(["mark", "firstbyte", new Date().getTime()]);</script>
    <meta content='CqZASYuY9f' name='baidu-site-verification'>
    <meta content='e5a9e3a882076fe6ceb18e4b46ddbe83' name='360-site-verification'>
    <link href="/static/css/home_page.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="/static/js/home_page.js" type="text/javascript"></script>
    <title>学好单词 | 背单词的利器</title>
</head>
<body>

<div class='warpper'>
    <div class='info_container'>
        <div class='logo_and_slogent'>
            <div class='download_info_container'>
                <div class='btn_download_container'>
                    <div class='btn_download_Android'>
                        <a href="http://itunes.apple.com/cn/app/ke-cheng-ji-hua/id505933342">
                            <img alt="Btn_download_ios" src="/static/img/btn_download_iOS.png"/>
                        </a>
                    </div>
                    <div class='btn_download_iOS'>
                        <div style="text-align: center;vertical-align: middle">
                            <span style="color: rgb(155,124,200)">敬请期待</span>
                        </div>
                    </div>
                </div>
                <div class='download_QR_code'></div>
            </div>
        </div>
        <div class='phone_example'>
            <div class='iPhone_template'>
                <div class='interface_container' id='front'></div>
                <div class='interface_container' id='back'></div>
                <div id='line'></div>
            </div>
            <ul class='jcarousel-skin-tango' id='slides'>
                <li class='empty'></li>
                <li class='callout' rel='0'>
                    <div class='icon one'></div>
                    <div class='text'>
                        <div class='main-text'>
                            图片助记生动形象
                        </div>
                        <div class='sub-text'>
                            生动形象的图片助记，让背单词变得轻松愉快!!
                        </div>
                    </div>
                </li>
                <li class='callout' rel='1'>
                    <div class='icon two'></div>
                    <div class='text'>
                        <div class='main-text'>
                            丰富的词根
                        </div>
                        <div class='sub-text'>
                            词根覆盖率远高同类产品，让你充分了解单词的前世今生，让背单词不再是死记硬背。
                        </div>
                    </div>
                </li>
                <li class='callout' rel='2'>
                    <div class='icon three'></div>
                    <div class='text'>
                        <div class='main-text'>
                            惊心挑选的例句
                        </div>
                        <div class='sub-text'>
                            精心挑选，带真人发音的例句让你充分了解每个单词的使用场景，写作文再也不用死搬硬套。
                        </div>
                    </div>
                </li>
                <li class='callout' rel='3'>
                    <div class='icon four'></div>
                    <div class='text'>
                        <div class='main-text'>
                            艾宾浩斯遗忘策略
                        </div>
                        <div class='sub-text'>
                            个性化的遗忘策略，及时的复习提醒，让你背单词更是事半功倍。
                        </div>
                    </div>
                </li>
                <li class='callout' rel='4'>
                    <div class='icon five'></div>
                    <div class='text'>
                        <div class='main-text'>
                           丰富，形象的网友助记
                        </div>
                        <div class='sub-text'>
                            网友贡献的大量文字助记你可以随意选择，更可以自己定制，背单词从此不再枯燥。
                        </div>
                    </div>
                </li>
                <li class='empty'></li>
                <li class='empty'></li>
                <li class='empty'></li>
            </ul>
            <div class='action-pager'>
                <a class='pagenum' rel='0'></a>
                <a class='active pagenum' rel='1'></a>
                <a class='pagenum' rel='2'></a>
                <a class='pagenum' rel='3'></a>
                <a class='pagenum' rel='4'></a>
            </div>
        </div>
    </div>
</div>
<!--<div class='container'>-->
    <!--<div class='announcement'>-->
        <!--<div class='news_item'>【学好单词<a href='http://huati.weibo.com/536220?from=526'>#全民校花#</a>火热开赛】2013年全国大学校园最美盛事！学好单词联合新浪校园-->
            <!--、360手机助手举办全民校花大赛！全国1000所高校，50000人气校花热力角逐全民校花！11月1日~12月20日，来学好单词，给你心中的全民校花投票吧！-->
        <!--</div>-->
        <!--<div class='news_item'>-->
            <!--【BTV北京新闻：学好单词——梦想起航的地方】BTV北京新闻栏目10月18日采访了学好单词团队，并对校园主管进行了专访，她毕业后放弃了大公司稳定的职位，加入了我们。她说：一个公司能给你实现想法的机会和发挥的空间，这就是最棒的公司。加上有爱给力的团队、舒适的工作环境，学好单词就是我梦想中最顶级的公司。<a-->
                <!--href='http://v.youku.com/v_show/id_XNjI3NTA3ODU2.html'>点击观看视频</a></div>-->
        <!--<div class='news_item'>【学好单词数据首次公开——36氪】学好单词（iOS/Android）是一款主打“课程表 + 轻社交”的课程管理应用，上线一年来已拥有全国 3000 所高校的 1000-->
            <!--万节课程数据。根据学好单词团队最新向36氪透露的数字，该产品用户总量已达 600 万，日活 100 万左右（统计期为 9 月 1 日开学至今）。这是该产品用户数据的首次对外披露。<a-->
                    <!--href='http://www.36kr.com/p/207078.html'>点击阅读全文</a></div>-->
        <!--<div class='news_item'>【学好单词3.0—小课表，大格局】学好单词新学期诚意巨献3.0全面升级——顶尖装备，处处拔尖！全新扁平化设计，更简洁、更Fashion；首创贴纸规划功能，课表变心情日历-->
            <!--；开启精确时间模式，课前提醒更贴心……还有更多新功能等你发现！<a href='http://www.wandoujia.com/apps/fm.jihua.kecheng'>点击参与豌豆荚首发活动</a>，抱枕、T恤送不停！-->
        <!--</div>-->
        <!--<div class='news_item'>【安卓2.3.2版本将于5月9日在安卓市场首发】有新功能加入，更好玩，赶快去升级发现吧。没发现彩蛋的同学也加油了，课表页，摇一摇，别忘记点个赞。感谢安卓市场的支持！<a-->
                <!--href='http://apk.hiapk.com/mc/d?i=201'>点击下载安卓市场</a></div>-->
    <!--</div>-->
    <!--<div class='entrances_container'>-->
        <!--<div class='billboard'><a href="#"><img alt="Img_ad" src="/static/img/img_ad.png"/></a></div>-->
        <!--<div class='btn_entrances_container'>-->
            <!--<div class='btn_ambassader' style="text-align: center;vertical-align: bottom">-->
                <!--<div style="margin-top: 50px;color: white">-->
                    <!--<span>登陆</span>-->
                <!--</div>-->
                <!--&lt;!&ndash;<img alt="Btn_ambassader" src="/static/img//btn_ambassader.png"/>&ndash;&gt;-->
            <!--</div>-->
            <!--<div class='btn_school_club' style="text-align: center;vertical-align: bottom">-->
                <!--<div style="margin-top: 50px;color: white">-->
                    <!--<span>注册</span>-->
                <!--</div>-->
                <!--&lt;!&ndash;<a href="assns/login">&ndash;&gt;-->
                <!--&lt;!&ndash;<img alt="Btn_school_club" src="/static/img//btn_school_club.png"/>&ndash;&gt;-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--</div>-->
            <!--<div class='btn_my_school' style="text-align: center;vertical-align: bottom">-->
                <!--<div style="margin-top: 50px;color: white">-->
                    <!--<span>反馈</span>-->
                <!--</div>-->
                <!--&lt;!&ndash;<a href="schools"><img alt="Btn_my_school" src="/static/img//btn_my_school.png"/></a>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<script>
    var currentIndex = 1;
    var moving = false;
    var frontActive = true;

    function setIndex(index, carousel) {
        if (index != currentIndex && !moving) {
            moving = true
            currentIndex = index
            carousel.scroll(index)
            setActiveScreenshot(index)
            $("#line").hide();
        }
    }

    function bindPagenum(carousel) {
        $('a.pagenum').bind('click', function () {
            var index = $.jcarousel.intval($(this).attr("rel"));
            setIndex(index + 1, carousel)
            return false
        });

        $('.callout').bind('click', function () {
            var index = $.jcarousel.intval($(this).attr("rel"));
            setIndex(index + 1, carousel)
            return false
        });
    }
    function setActivePagenum(num) {
        $(".pagenum").each(function (index) {
            if (index === num - 1) {
                $(this).addClass("active");
            } else {
                $(this).removeClass("active");
            }
        });
    }
    ;
    function setActiveCallout(num) {
        $(".callout").each(function (index) {
            if (index === num - 1) {
                $(this).addClass("active");
            } else {
                $(this).removeClass("active");
            }
        });
    }
    ;

    function setActiveScreenshot(num) {
        var url = "url(/static/img/screenshot_" + num + ".jpg)"

        if (frontActive) {
            active = "#front"
            buffer = "#back"
        } else {
            buffer = "#front"
            active = "#back"
        }

        frontActive = !frontActive

        $(".interface_container" + active).fadeOut(1200)
        $(".interface_container" + buffer).css("background", url)
        $(".interface_container" + buffer).fadeIn(1200)
    }

    function onItemIn(carousel, item, idx, state) {
        moving = false;
        setActivePagenum(idx);
        setActiveCallout(idx);
        url = "url('/static/img/line_" + idx + ".png')";
        $("#line").css("background", url);
        $("#line").show();
    }
    ;

    function onItemOut(carousel, item, idx, state) {
    }
    ;

    $(document).ready(function () {
        $('#slides').jcarousel({
            vertical: true,
            scroll: 1,
            animation: 800,
            initCallback: bindPagenum,
            // auto: 1,
            itemFirstInCallback: onItemIn,
            itemFirstOutCallback: onItemOut,
            buttonNextHTML: null,
            buttonPrevHTML: null
            //itemFallbackDimension: 300
        });
    });
</script>

<div id='index_footer'>
    <div class='footer_info_container'>
        <div class='link_container'>
            <!--<a href="http://beidanci.lofter.com/" target="_blank">博客</a>-->
            <!-- =link_to "关于我们", "/about" -->
            <!--<a href="jobs">加入我们</a>-->
            <!-- =link_to "友情链接", "#" -->
        </div>
        <div class='link_sns_btn'>
            <div class='sns_btn'><a href="http://e.weibo.com/yuanxijie" target="_blank"><img alt="Icon_weibo"
                                                                                             src="/static/img/icon_weibo.png"/></a>
            </div>
            <!--<div class='sns_btn'><a href="http://page.renren.com/699177210"><img alt="Icon_renren" src="/static/img/icon_renren.png" /></a></div>-->
            <div class='sns_btn'><a href="http://user.qzone.qq.com/37879709" target="_blank"><img alt="Icon_qq"
                                                                                                  src="/static/img/icon_qq.png"/></a>
            </div>
        </div>
        <div class='clear'></div>
        <div class='copyright'>
            <div class='left'>
                <div></div>
                学好单词咨询QQ群：272082399 | 用户反馈QQ群：272082399 | 商务合作：yuanxijie@gmail.com | 校园合作：yuanxijie@gmail.com
                <div></div>
                京ICP备11023015号 京公网安备11010802009937
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">if (!NREUMQ.f) {
    NREUMQ.f = function () {
        NREUMQ.push(["load", new Date().getTime()]);
        var e = document.createElement("script");
        e.type = "text/javascript";
        e.src = (("http:" === document.location.protocol) ? "http:" : "https:") + "//" +
                "js-agent.newrelic.com/nr-100.js";
        document.body.appendChild(e);
        if (NREUMQ.a)NREUMQ.a();
    };
    NREUMQ.a = window.onload;
    window.onload = NREUMQ.f;
}
;
NREUMQ.push(["nrfj", "beacon-5.newrelic.com", "c229efdc90", "1806662", "e1dfFkNYWlgEShlBVEtLWA1fRBlaBE8=", 0, 13, new Date().getTime(), "", "", "", "", ""]);</script>
</body>
</html>
